.intro {
	padding-top: 40px;
	height: 100%;
	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}
}

.intro-btn {
	background-color: transparent;
	display: flex;
	align-items: center;
	gap: 20px;
	color: white;
	padding: 8px 0;
	position: relative;

	&::after {
		content: '';
		width: 100%;
		height: 2px;
		background: linear-gradient(90deg, var(--block-color) 70%, transparent);
		position: absolute;
		bottom: 0;
		left: 0;
	}

	&__img {
		pointer-events: none;
	}

	&__text {
		pointer-events: none;
		font-size: 20px;
	}
}
