@import "reset";
@import "variables";
@import "fonts";

body {
	font-family: "Inter";
	background-color: var(--bg-color);
	font-size: 16px;
}

$minWidth: 320;
$maxWidth: 480;

//Адаптивное свойство
@mixin adaptiv-value($indentType, $pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	#{$indentType}: calc(#{$mobSize + px} + #{$addSize} * ((100vw - #{$minWidth+px}) / #{$maxWidth - $minWidth}));
}

.container {
	padding: 0 15px;
	margin: 0 auto;
}

.breadcrumbs {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	font-size: 16px;
	padding: 20px 0;

	&__item {
		color: white;
		a {
			text-decoration: underline;
			color: inherit;

			&:visited {
				color: inherit;
			}
		}
		&:not(:last-child) {
			&::after {
				content: ">";
				margin-right: 0.4em;
			}
		}

		span {
			&::after {
				display: none;
			}
		}
	}
}



//===========================================================

@import "intro";
@import "groups";

//===========================================================

.dn {
	display: none;
}
