* {
  padding: 0px;
  margin: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  text-align: center;
  display: inline-block;
  border: 0;
}

textarea, input {
  font: inherit;
}

:root {
  --tg-theme-secondary-bg-color: lightblue;
  --tg-theme-bg-color: #171744;
  --button-color: #0257D8;
  --block-color: #D9D9D9;
}

body {
  font-family: "consolas";
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

body {
  background-color: var(--tg-theme-secondary-bg-color);
  font-size: 16px;
}

.container {
  background-color: var(--tg-theme-bg-color);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.item {
  background-color: gray;
}

.intro {
  padding-top: 40px;
}
.intro__wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.intro-btn {
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
  border: 1px solid white;
  padding: 5px 0;
}
.intro-btn__text {
  font-size: 20px;
}